modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20189 BASE_PATH=/ pnpm --filter @workspace/nour-academy run dev & PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 20189

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GOOGLE_SCRIPT_URL = "https://script.google.com/macros/s/AKfycbxCeDziEvarOdoDRZhxDa392G7IwkiX0dgmhZO_PqvUz0doEGpI2xjIke4lSVErFx3huw/exec"

[nix]
channel = "stable-25_05"
